:root {
    --color-correct-light: #6aaa64;
    --color-wrong-place-light: #c9b458;
    --color-absent-light: #787c7e;
    --color-un-used-light: #d3d6da;
    --color-background-light: rgb(228, 228, 228);
    --color-text-light: rgb(29, 29, 29);
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
