:root {
  --color-success-high-contrast: #f5793a;
  --color-alert-high-contrast: #85c0f9;
}

::selection {
  background: var(--color-selection);
}

body::-webkit-scrollbar {
  width: auto;
}


body::-webkit-scrollbar-track {
  background: var(--color-gray-300);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 6px;
}
